.renImg{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.rImgBox{
    width: 1230px;
}
.zhidl{
    float: left;
    width: 285px;
    height: 407px;
    margin:0 18px 15px 0;
    border: 1px solid #ececec;
}
.zhidl dt{
    width: 285px;
    height: 285px;
}
.zhidl dt img{
   width: 285px;
    height: 285px;
}
.zhidl dd{
    width: 275px;
    height: 112px;
    padding: 5px 5px 0;
}
.tao{
    display: block;
    height: 16px;
    overflow: hidden;
    margin-bottom: 8px;
    color: #666;
}
.tao i{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.youp{
    height: 30px;
    color: #757575;
}
.youp i{
    color: #f15482;
}
.youp b{
    color: #8cbfd3;
}
.sale{
    margin-left: -5px;
    width: 275px;
    height: 53px;
    background: rgb(72,191,125);
    line-height: 52px;
    padding-left: 10px;
    color: #fff;
}
.sale b{
    font-size: 22px;
    font-weight: bold;
}
