@charset "utf-8";
/* CSS Document */
body,p,ul,dl,ol,li,h1,h2,h3,h4,dt,dd,fieldset,legend,input{
		margin:0;
		padding:0;
	}
body{
		font:12px "微软雅黑";
	}
h1,h2,h3,h4,h5,b,strong{
		font-weight:normal;
	}
a{
		text-decoration:none;
	}
ul,li{
		list-style:none;
	}
img{
	display: block;
}	
img,input{
		border:0;
	}
i,em{
	font-style: normal;
}


