.header{
	height: 25px;
	line-height: 24px;
	background: url(../img/home.jpg) no-repeat left center;
	border-bottom: 1px solid #e3e3e3;
	padding-left: 15px;
	overflow: hidden;
}
.header a{
	float: left;
	color: #636363;
}
.header span{
	float: left;
	width: 15px;
	margin: 0 10px;
}

.addbox{
	
}



		*:focus{
			outline:none; /* Prevents blue border in Webkit */
		}

		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*  */
		}
		
		#top_bit {
			width:760px;
			margin: 0 auto;
		}
		
		form {
			width:300px;
			margin: 20px auto 50px;
		}

		p {
			line-height: 1.6;
		}

		label{
			line-height: 30px;
			margin:0 10px 30px 0;
		}
		
		input{
			
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background-color:#fff;
			border:1px solid #ccc;
			font-size:20px;
			width:300px;
			min-height:30px;
			display:block;
			margin-bottom:16px;
			margin-top:8px;
			
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;/*以慢速开始和结束的过渡效果*/
		}
		

		input:focus{
			-webkit-box-shadow:0 0 25px #ccc;
			-moz-box-shadow:0 0 25px #ccc;
			box-shadow:0 0 25px #ccc;
			
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			transform: scale(1.05);
		}
		
		/* The interesting bit */
		
		input:not(:focus){
			opacity:0.5;
		}
		
		input:required{
			margin-bottom: 30px;
			background:url("../img/asterisk_orange.png") no-repeat 280px 7px;						
		}

		input:valid{
			background:url("../img/tick.png") no-repeat 280px 5px;			
		}		

		input:focus:invalid{
			background:url("../img/cancel.png") no-repeat 280px 7px;						
		}

		input[type=submit] {
			padding:10px;
			background:none;
			opacity:1.0;
		}
		
		/*queryProduct*/
		.proInfo{
			width: 1000px;
			height: 500px;
			margin-top: 50px;
		}
		.proInfo div{
			width: 100px;
			height: 100px;
			float: left;
		}

